.card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 38px 0 0;
}

.card__title:not(:last-child) {
  margin-bottom: 4px;
}

@media screen and (min-width: 953px) {
  .card__title {
    margin-top: 58px;
  }
}

@media screen and (min-width: 1440px) {
  .card__title {
    font-size: 20px;
  }
}