.footer__links {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 479.98px) {
  .footer__links {
    flex-direction: row;
  }
}