@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Bold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Rubik';
  src: url('./Rubik-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Rubik';
  src: url('./Rubik-Bold.ttf') format('ttf');
  font-weight: 400;
}