@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('./Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('./Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url('./Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url('./Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
}