.experts__statistics {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  padding: 15px 40px;
  padding: 28px 80px;
  align-items: center;
  gap: 50px;
  max-width: min-content;
  z-index: 3;
  transform-style: preserve-3d;
}

.experts__statistics::before {
  content: '';
  width: 66px;
  height: 66px;
  background: #EC5863;
  border-radius: 16px;
  transform: translateZ(-1px) rotate(-30deg);
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: -20px;
}

@media screen and (min-width: 867.98px) {
  .experts__statistics {
    flex-direction: row;
    gap: 80px;
    padding: 28px 80px;
  }
}